* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:link {
    color: #fff;
}

nav a:hover {
    color: #ddd;
}

a:link {
    color: #0087cc;
}

a:hover {
    color: #ff7b29;
}

img {
    width: 100%;
    height: auto;
}

/*Définition des largeurs des éléments principaux*/

header {
    margin: 0 auto;
}

header,
header nav,
footer {
    width: 100%;
}

main {
    width: 85%;
}

main .div-articles .div-article {
    width: 33.33%;
    margin-right: 1rem;
}

footer .footer-text,
footer .footer-social-media {
    margin: 0 auto;
}

/*Redimensionnement des images*/

.logo {
    width: 80px;
    height: 80px;
}

.icons {
    width: 32px;
    height: 32px;
}

/*Ecrans à partir de 800px*/

.container {
        width: 800px;
    }

    /*Header*/

    .logo-and-title,
    ul {
        display: flex;
    }

    .logo-and-title {
        justify-content: center;
    }

    .logo {
        margin-top: 2rem;
    }

    .logo:hover,
    .logo-title:hover {
        opacity: 0.5;
    }

    .logo:hover {
        color: #0087cc;
    }

    .logo-title {
        color: #0087cc;
        font-size: 3rem;
        margin-left: 1rem;
    }

    .logo-title:hover {
        color: #0087cc;
    }

    ul {
        justify-content: flex-end;
    }

    li {
        margin-left: 1.5rem;
    }

    .li-marr {
        margin-right: 5rem;
    }

    nav {
        background-color: #0087cc;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    /*Main*/

    .div-articles {
        display: flex;
        flex-direction: row;
    }

    .article-image figure img {
        width: 150%;
    }

    .article-date,
    .article-title,
    .article-text {
        margin-left: 2.5rem;
    }

    .article-date {
        color: #929292;
    }

    .article-title {
        font-weight: bolder;
    }

    .article-title,
    figcaption {
        color: #0087cc;
    }

    .article-text {
        width: 100%;
    }

    .article-paragraph {
        color: #555;
    }

    /*Footer*/

    .footer-title {
        color: #0087cc;
    }

    .footer-subtitle,
    .footer-copyright {
        color: #555;
    }

    .footer-title,
    .footer-subtitle {
        font-weight: bolder;
    }

    .footer-title,
    .footer-subtitle,
    .footer-copyright,
    .footer-social-media {
        text-align: center;
    }

/*Ecrans à partir de 1940px*/

    @media screen and (min-width: 1940px) {
            .container {
                width: 1940px;
            }
            
            .div-article {
                padding-right: 7rem;
            }
        }