* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:link {
    color: #fff;
}

nav a:hover {
    color: #ddd;
}

a:link {
    color: #0087cc;
}

a:hover {
    color: #ff7b29;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 800px;
}

/*Définition des largeurs des éléments principaux*/

header {
    width: 100%;
    margin: 0 auto;
}

header nav {
    width: 100%;
}

main {
    width: 85%;
}

main .div-articles .div-article {
    width: 33.33%;
    margin-right: 1rem;

}

footer {
    width: 100%;
}

footer .footer-text {
    margin: 0 auto;
}

footer .footer-social-media {
    margin: 0 auto;
}


/*Redimensionnement des images*/

.logo {
    width: 80px;
    height: 80px;
}

.icons {
    width: 32px;
    height: 32px;
}


/*Header*/

.logo-and-title {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 2rem;
}

.logo-title {
    color: #0087cc;
    font-size: 3rem;
    margin-left: 1rem;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li {
    margin-left: 1.5rem;
}

.li-marr {
    margin-right: 5rem;
}

nav {
    background-color: #0087cc;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

nav a {
    color: #fff;
}

/*Main*/

.div-articles {
    display: flex;
    flex-direction: row;
}

.article-image figure img {
    width: 150%;
}

.article-date {
    color: #929292;
}

.article-title {
    color: #0087cc;
    font-weight: bolder;
}

figcaption {
    color: #0087cc;
}

.article-text {
    margin-left: 2.5rem;
    width: 100%;
}

.article-paragraph {
    color: #555;
}

/*Footer*/

.footer-title
{
    color: #0087cc;
    font-weight: bolder;
}

.footer-subtitle {
    color: #555;
    font-weight: bolder;
}

.footer-copyright {
    color: #555;
}