* {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    font-weight: lighter;
}

/*Ecrans inférieurs à 768px*/

/*Header*/

    /*Navbar*/

        h1 {
            font-size: 3.5rem;
            text-align: center;
            margin: 0;
        }

        .header-nav ul {
            padding: 0; 
        }

        .header-nav li {
            border-style: solid;
            border-color: gray;
            border-bottom: 0;
            margin-left: 0;
        }

        .header-nav li a {
            color: goldenrod;
            font-size: 1.5rem;
        }

    /*Bannière*/

        .banner {
            background-image: url("../images/bandeau-01.jpg");
            background-size: cover;
            height: 35vh;
            margin-bottom: 2rem;
        }

        .banner h2 {
            font-size: 2rem;
            text-align: center;
            background-color: white;
            opacity: 0.5;
        }

        .banner p {
            text-align: center;
            background-color: white;
            opacity: 0.5;
        }

        .banner a {
            color: red;
        }

    /*Main*/
        
        .articles p img {
            display: block;
            margin: 0 auto;
        }

        .articles button {
            border-color: red;
            border-top: 0;
            color: red;
        }

       .articles .article {
            border-style: solid;
            border-left: 0;
            border-right: 0;
            border-color: gray;
        }

        .agenda {
            background-color: gainsboro;
            padding-bottom: 1rem;
        }

        .agenda img {

                display: none;
            }

        .agenda h2 {
            color: red;
            border-style: solid;
            border-right: 0;
            border-bottom: 0;
            border-top: 0;
            border-width: 1.5rem;
            margin-left: 2rem;
            padding-left: 1rem;
        }

        .agenda a {
            color: black;
            border-style: dotted;
            border-color: red;
            border-left: 0;
            border-right: 0;
            border-top: 0;
        }
        
        .footer-nav {
            background-color: red;
            
        }

        .footer-nav a {
            color: white;
        }

        .footer-nav ul {
            border
        }

    
        
            

