* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;
}


/*Ecrans inférieurs à 768px*/

.container  {
    margin: 0 auto;
    size: 767px;
}

/*Header*/

    /*Navbar*/

        h1 {
            font-size: 3.5rem;
            text-align: center;
            margin: 0;
        }

        .header-nav ul {
            padding: 0;
            border-style: solid;
            border-color: gray;
            border-width: 0.1rem;
            border-bottom: 0;
            border-right: 0;
            margin-bottom: 0;
        }

        .header-nav li {
            border-style: solid;
            border-color: gray;
            border-width: 0.1rem;
            border-left: 0;
            border-top: 0;
        }

        .header-nav li a {
            color: goldenrod;
            font-size: 1.5rem;
        }

    /*Bannière*/

        .banner {
            background-image: url("../images/bandeau-01.jpg");
            background-size: cover;
            height: 22vh;
            margin-bottom: 2rem;
            margin-top: 0rem;
            padding-top: 1rem;
        }

        .banner h2 {
            font-size: 2rem;
            text-align: center;
            background-color: white;
            opacity: 0.5;
            margin-top: 0;
        }

        .banner p {
            text-align: center;
            background-color: white;
            opacity: 0.5;
        }

        .banner a {
            color: red;
        }

    /*Main*/
        
        .articles p img {
            display: block;
            margin: 0 auto;
        }

        .articles button {
            border-color: red;
            border-top: 0;
            color: red;
        }

       .articles .article {
            border-style: solid;
            border-left: 0;
            border-right: 0;
            border-color: gray;
            padding-top: 1rem;
        }

        .articles h3 {
            font-size: 1.6rem;
        }

        .articles button {
            margin-bottom: 1rem;
        }

        .agenda {
            background-color: gainsboro;
            padding-bottom: 1rem;
            margin-top: 2.5rem;
        }

        .agenda img {

                display: none;
            }

        .agenda h2 {
            color: red;
            border-style: solid;
            border-right: 0;
            border-bottom: 0;
            border-top: 0;
            border-width: 1.5rem;
            margin-left: 2rem;
            padding-left: 1rem;
            font-size: 2rem;
        }

        .agenda a {
            color: black;
            border-style: dotted;
            border-color: red;
            border-left: 0;
            border-right: 0;
            border-top: 0;
        }
        
        .footer-nav {
            background-color: red;
            padding-top: 1rem;
            padding-bottom: 1.2rem;
        }

        .footer-nav a {
            color: white;
        }

        .footer-nav ul {
            padding-bottom: 1rem;
        }

        .footer-nav ul li {
            border-style: solid;
            border-color: white;
            border-right: 0;
            border-bottom: 0;
            border-top: 0;
            border-width: 1.5rem;
            padding-left: 1.5rem;
        }

/*Ecrans supérieurs à 1023px*/    

    @media screen and (min-width: 1024px) {

            .header-nav ul {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 0;
                margin-bottom: 0;
                border-top: 0;
                border-left: 0;
            }

    
            .header-nav li {
                border-style: solid;
                border-color: gray;
                border-width: 0.1rem;
            }

            .banner {
                height: 22vh;
                margin-bottom: 2rem;
                margin-top: 0rem;
                padding-top: 1rem;
            }

            .banner h2 {
                margin-top: 0;
            }

           .articles {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .article {
                max-width: 50%;
            }

          
           

    

          }

        
    
        
            

    